%link(rel="stylesheet" type="text/css" href="/manager/app/app.css")
%div{"ng-app" => "labsmanagerApp", "ng-cloak" => ""}
  %div{"ui-view" => ""}

%script(src='/manager/app/vendor.js')
%script(src='/manager/app/app.js')
